.login {
  width: 100%;
  height: 100%;
  position: absolute;
  background: antiquewhite;
}
.login h1 {
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  color: red;
}
.news {
  width: 100%;
  height: 110%;
}
.zh,
.psd {
  width: 200px;
  height: 30px;
  border: 1px solid lightblue;
  margin: 0px auto;
  margin-top: 150px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.psd {
  margin-top: 20px;
}
input {
  width: 100%;
  height: 100%;
  border: 0px;
  background: none;
  outline: none;
  text-indent: 10px;
}
.btn {
  margin: 30px auto;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: gray;
}
.tip {
  position: absolute;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
